:root {
/* Colors */
/* Primary */
--pink: hsl(322, 100%, 66%);
--light-pink: hsl(321, 100%, 78%);
--light-red: hsl(0, 100%, 63%);

/* Neutral */
--very-dark-cyan: hsl(192, 100%, 9%);
--very-pale-blue: hsl(207, 100%, 98%);

/* Typography */
--primary-font: 'Poppins', sans-serif;
--secondary-font: 'Open Sans', sans-serif; 

--sm: 1.4rem;
--md: 1.8rem;
--lg: 2.4rem;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--primary-font);
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr minmax(300px, 600px);
}
p {
    font-family: var(--secondary-font);
}
svg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
.header__svg {
    background-image: url('./images/logo.svg');
    width: 100px;
    height: 16px;
}
.header__button {
    width: 100px;
    height: 27px;
    color: var(--light-pink);
    background: white;
    border: var(--light-pink) solid 1px;
    border-radius: 3rem;
}

.main {
    margin-top: 4rem;
    text-align: center;
}
.main p, .container__p{
    padding-top: 2rem;
    font-size: var(--sm);
}
/* .main__section {} */
.section__card {
    position: relative;
    margin: 10rem;
    margin: 10rem 4rem 0rem 4rem;
}
.section__card h3, .container__title {
    font-size: var(--md);
}
.margin {
    margin-right: 0;
    margin-left: 0;
}
.card__title {
    font-size: var(--lg);
}
/* .card__p {} */
.card__button {
    margin-top: 5rem;
    width: 200px;
    height: 45px;
    background: var(--pink);
    color: white;
    border: none;
    border-radius: 3rem;
    font-weight: 600;
}
.card__img {
    width: 100%;
    height: 213px;
    background-image: url('./images/screen-mockups.svg');
}
.card__communities, .card__message {
    display: flex;
    width: 190px;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10rem;
}
.card__communities h3, .card__message h3 {
    font-family: var(--secondary-font);
    font-size: 6.4rem;
    font-weight: 700;
}
.card__communities ~ p, .card__message ~ p {
    color: grey;
}
.communities__svg {
    background-image: url('./images/icon-communities.svg');
    width: 34px;
    height: 30px;
}
.message__svg {
    background-image: url('./images/icon-messages.svg');
    width: 25px;
    height: 20px;
}
.card__background {
    padding:3rem;
    position: relative;
    background: var(--very-pale-blue);
}
.background__img {
    width: 80%;
    margin-bottom: 6rem;
}
.card__svgTop, .card__svgBotton {
    display: block;
    width: 100%;
    height: 100px;
}
.top1 {
    background-image: url('./images/bg-section-top-mobile-1.svg');
}
.toguether__img {
    height: 205px;
    margin-top: 5rem;
    background-image: url('./images/illustration-grow-together.svg');
}
.botton1 {
    height: 50px;
    background-image: url('./images/bg-section-bottom-mobile-1.svg');
}
.corversations__img {
    height: 170px;
    background-image: url('./images/illustration-flowing-conversation.svg');
    
}
.top2 {
    background-image: url('./images/bg-section-top-mobile-2.svg');
}
.botton2 {
    padding-top: 3rem;
    background-image: url('./images/bg-section-bottom-mobile-2.svg');
}
.users__img {
    height: 190px;
    background-image: url('./images/illustration-your-users.svg');
}
.users__img ~ p {
    padding-bottom: 6rem;
}


.footer {
    color: white;
}
.footer__top {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20rem;
    background-image: url('./images/bg-footer-top-mobile.svg');
}
.footer__section {
    background: var(--very-dark-cyan);
    padding: 3rem;
}
.container__title {
    font-weight: 600;
}
.container__p {
    padding-right: 1rem;
    line-height: 2.2rem;
}
.container__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'input input'
    'error button'
    ;
}
.form__input {
    grid-area: input;
    width: 100%;
    height: 5rem;
    margin: 3rem 0 1.5rem 0;
    border-radius: 1rem;
    border: none;
    padding: 2rem;
    font-size: var(--sm);
    cursor: pointer;
}
.form__error {
    grid-area: error;
    font-size: 1.1rem;
    color: var(--light-red);
}
.form__button {
    grid-area: button;
    justify-items: end;
    width: 100%;
    height: 5rem;
    background: var(--pink);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: var(--sm);
    cursor: pointer;
}
.logo__svg {
    width: 200px;
    height: 32px;
    margin-top: 6rem;
    background-image: url('./images/logo-white.svg');
}
.container__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.list__element {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.list__element i {
    width: 17px;
}
.list__element p {
    margin: 1rem;
}
.sotial-media {
    padding-top: 2rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.sotial-media li {
    margin-right: 2rem;
    width: 15px;
}




.field__input:focus {
    outline: none;
    border: var(--dark-slate-grey) solid 1px;
}
.field__error {
    position: absolute;
    font-size: 1.1rem;
    color: var(--tomato);
    margin-top: 0.5rem;
}

.button:hover {
    background: var(--light-pink);
}
.form__input:focus {
    outline: none;
    border: none;
}